<h2>Trips</h2>

<%@trips.each do |trip|%>
<h4><%=trip.name%></h4>
<li>Trail: <%=trip.trail.name%></li>
<li><%=trip.month%>/<%=trip.day%>/<%=trip.year%></li>
<a href=<%="/trips/#{trip.id}"%>>View Trip</a>
<br></br>
<%end%>
<br>
<p><a href="/trips/new">Create New Trip</a></p>
<p><a href="/homepage">Home</a></p>
