<h3><%=@trip.name%></h3>
<ul>Trail: <%=@trip.trail.name%></ul>
<ul>User: <%=@trip.user.username%></ul>
<ul>Date: <%=@trip.month%>/<%=@trip.day%>/<%=@trip.year%></ul>
<ul>Notes: <%=@trip.notes%></ul>

<a href=<%="/trips/#{@trip.id}/edit"%>>Edit Trip</a>

<form action="/trips/#{@trip.id}/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Trip">
</form>
